@font-face {
  font-family: "CM";
  src: url("/assets/fonts/cmunrm.ttf");
}
@font-face {
  font-family: "CM Bold";
  src: url("/assets/fonts/cmunbx.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "CM Italics";
  src: url("/assets/fonts/cmunbx.ttf");
}

body {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #content {
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
    background-color: black;
  }
}
header {
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
  height: 187px;
  width: 617px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  #title {
    font-family: "CM Bold", serif;
    background-image: linear-gradient(45deg, #90d6ff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }
  #flip_right {
    transform: scaleX(-1);
  }
}
#grad {
  height: 50px;
  margin-bottom: -50px;
  background-size: cover;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 252) 0%,
    rgb(76.945%, 76.945%, 76.945%) 6.25%,
    rgb(58.388%, 58.388%, 58.388%) 12.5%,
    rgb(43.41%, 43.41%, 43.41%) 18.75%,
    rgb(31.517%, 31.517%, 31.517%) 25%,
    rgb(22.253%, 22.253%, 22.253%) 31.25%,
    rgb(15.199%, 15.199%, 15.199%) 37.5%,
    rgb(9.972%, 9.972%, 9.972%) 43.75%,
    rgb(6.225%, 6.225%, 6.225%) 50%,
    rgb(3.649%, 3.649%, 3.649%) 56.25%,
    rgb(1.97%, 1.97%, 1.97%) 62.5%,
    rgb(0.95%, 0.95%, 0.95%) 68.75%,
    rgb(0.389%, 0.389%, 0.389%) 75%,
    rgb(0.123%, 0.123%, 0.123%) 81.25%,
    rgb(0.024%, 0.024%, 0.024%) 87.5%,
    rgb(0.002%, 0.002%, 0.002%) 93.75%,
    rgb(0%, 0%, 0%) 100%
  );
}
article {
  font-family: "CM", serif;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
  padding: 15px;
  h1 {
    text-align: center;
  }
  em {
    font-family: "CM Italics", serif;
  }
  strong {
    font-family: "CM Bold", serif;
  }
  a {
    background-image: linear-gradient(45deg, #90d6ff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
footer {
  margin: -2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 617px;
  align-items: center;
  justify-content: center;
}
