@font-face {
  font-family: "CM";
  src: url("/assets/fonts/cmunrm.ttf");
  font-display: swap;
}
@font-face {
  font-family: "CM Bold";
  src: url("/assets/fonts/cmunbx.ttf");
  font-weight: normal;
  font-display: swap;
}
@mixin grad($type) {
  @if $type == "blue" {
    background-image: linear-gradient(45deg, #90d6ff, #ffffff);
  } @else if $type == "lav" {
    background-image: linear-gradient(45deg, #c990ff, #e8e4d6);
  } @else if $type == "rainbow" {
    background-image: linear-gradient(
      90deg,
      rgb(255, 0, 0) 0%,
      rgb(255, 154, 0) 10%,
      rgb(208, 222, 33) 20%,
      rgb(79, 220, 74) 30%,
      rgb(63, 218, 216) 40%,
      rgb(47, 201, 226) 50%,
      rgb(72, 157, 255) 60%,
      rgb(158, 109, 255) 70%,
      rgb(199, 45, 255) 80%,
      rgb(251, 7, 217) 90%,
      rgb(255, 0, 0) 100%
    );
  }
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad-blue {
  @include grad("blue");
}
.grad-lav {
  @include grad("lav");
}
.grad-rainbow {
  @include grad("rainbow");
}
body {
  line-height: 1.75;
  display: grid;
  place-items: center;
  image-rendering: auto;
  #content {
    margin: 25px;
    width: 617px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
    background-color: black;
  }
  a {
    text-decoration: none;
  }
}
header {
  padding-top: 1em;
  font-size: 24px;
  text-align: center;
  height: 187px;
  width: 617px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  #title {
    font-family: "CM Bold", serif;
    @include grad("blue");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }
}
#header-grad {
  height: 50px;
  margin-bottom: -50px;
  background-size: cover;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 252) 0%,
    rgb(76.945%, 76.945%, 76.945%) 6.25%,
    rgb(58.388%, 58.388%, 58.388%) 12.5%,
    rgb(43.41%, 43.41%, 43.41%) 18.75%,
    rgb(31.517%, 31.517%, 31.517%) 25%,
    rgb(22.253%, 22.253%, 22.253%) 31.25%,
    rgb(15.199%, 15.199%, 15.199%) 37.5%,
    rgb(9.972%, 9.972%, 9.972%) 43.75%,
    rgb(6.225%, 6.225%, 6.225%) 50%,
    rgb(3.649%, 3.649%, 3.649%) 56.25%,
    rgb(1.97%, 1.97%, 1.97%) 62.5%,
    rgb(0.95%, 0.95%, 0.95%) 68.75%,
    rgb(0.389%, 0.389%, 0.389%) 75%,
    rgb(0.123%, 0.123%, 0.123%) 81.25%,
    rgb(0.024%, 0.024%, 0.024%) 87.5%,
    rgb(0.002%, 0.002%, 0.002%) 93.75%,
    rgb(0%, 0%, 0%) 100%
  );
}
article {
  font-family: "CM", serif;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
  padding: 1.5em;
  h1 {
    text-align: center;
    font-family: "CM", serif;
  }
  p,
  li,
  th {
    font-family: "Noto Sans", sans-serif !important;
    font-weight: normal;
    font-size: 14px;
  }
  a {
    @include grad("blue");
    &:hover {
      background-image: linear-gradient(45deg, #ffffff, #ffffff);
    }
  }
}
footer {
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 617px;
  align-items: center;
  justify-content: center;
  img {
    width: 88px;
    height: 31px;
  }
}

blockquote {
  @include grad("lav");
}

$darker: #373737;
$dark: #888;
$width: 16px;

@mixin volume {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: $darker;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px $dark;
}

@mixin arrow($rotate) {
  background-image: url("data:image/svg+xml,%3Csvg  transform='rotate(#{$rotate})' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}
html::-webkit-scrollbar-button:vertical:start:increment,
html::-webkit-scrollbar-button:vertical:end:decrement,
html::-webkit-scrollbar-button:horizontal:start:increment,
html::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}
html::-webkit-scrollbar {
  width: $width;
  background: red;

  &-corner {
    background: #c0c0c0;
  }

  &-thumb {
    @include volume;
  }

  &-track {
    background-blend-mode: normal, difference, normal;
    background-size: 3px 3px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      linear-gradient(to right, black 50%, white 50%),
      linear-gradient(to bottom, black 50%, white 50%);
  }

  &-button {
    @include volume;
    &:start:decrement,
    &:end:increment {
      background-repeat: no-repeat;
      background-position: center;
      background-size: $width / 2;

      &:active {
        border: 1px solid $dark;
        box-shadow: none;
        background-position: ($width / 5) ($width / 5);
      }

      &:horizontal:decrement {
        @include arrow("180");
      }

      &:horizontal:increment {
        @include arrow("0");
      }

      &:vertical:decrement {
        @include arrow("270");
      }

      &:vertical:increment {
        @include arrow("90");
      }
    }
  }
}
