<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <meta name="description" content="Rain Blog" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      />
    </noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta content="#90d6ff" data-react-helmet="true" name="theme-color" />
    <meta name="viewport" content="width=667, initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="preload"
      href="/assets/fonts/cmunrm.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/cmunbx.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta
      name="twitter:image:src"
      content="https://echometerain.github.io/assets/img/embed.png"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% seo %}
  </head>
  <body>
    <style>
      body {
        background-image: url("/assets/img/bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      header {
        background-image: url("/assets/img/fire.gif");
        background-position: center;
        background-attachment: local;
      }
    </style>
    <div id="content">
      <header>
        <img src="/assets/img/skelly.gif" width="80px" height="80px" alt="" />
        <h1 id="title"><a href="/" aria-label="Rain Blog">Rain Blog</a></h1>
        <img
          style="transform: scaleX(-1)"
          src="/assets/img/skelly.gif"
          width="80px"
          height="80px"
          alt=""
        />
      </header>
      <div id="header-grad"></div>
      <article>{{ content }}</article>
      <footer>
        <img src="/assets/badges/antinft.png" alt="" />
        <img src="/assets/badges/aponow.png" alt="" />
        <img src="/assets/badges/budgie.png" alt="" />
        <img src="/assets/badges/banner2.gif" alt="" />
        <img src="/assets/badges/bob.gif" alt="" />
        <img src="/assets/badges/alienow.png" alt="" />
        <a
          href="javascript:crush()"
          style="height: 31px"
          title="crush capitalism"
          aria-label="crush capitalism"
        >
          <img src="/assets/badges/cc-button.png" alt="" />
        </a>
        <img src="/assets/badges/sun.png" alt="" />
        <a href="/404.html" style="height: 31px" aria-label="void">
          <img src="/assets/badges/thevoid.png" alt="" />
        </a>
        <img src="/assets/badges/transnow2.png" alt="" />
        <img src="/assets/badges/chrmevil.gif" alt="" />
        <a
          href="https://doyoubelieveinmiracles.neocities.org/"
          target="_blank"
          style="height: 31px"
          title="Tsuyukikira's Homepage"
          aria-label="Tsuyukikira's Homepage"
        >
          <img src="/assets/badges/tsuki.png" alt="" />
        </a>
        <a
          href="https://echometerain.github.io"
          style="height: 31px"
          title="Rain Blog"
          aria-label="Rain Blog"
        >
          <img src="/assets/badges/echobadge.png" alt="" />
        </a>
        <a
          href="https://oktagonia.github.io/"
          target="_blank"
          style="height: 31px"
          title="Hilbert's Lamentations"
          aria-label="Hilbert's Lamentations"
        >
          <img src="/assets/badges/hexa.png" alt="" />
        </a>
      </footer>
      <script>
        const body = document.querySelector("body");
        function crush() {
          body.style.textTransform = "lowercase";
        }
      </script>
    </div>
  </body>
</html>
