<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <meta name="description" content="Rain Blog" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />
    <meta content="#90d6ff" data-react-helmet="true" name="theme-color" />
    {% seo %}
  </head>
  <body>
    <style>
      body {
        background-image: url("/assets/img/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
    <div id="content">
      <header>
        <style>
          header {
            background-image: url("/assets/img/fire.gif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: local;
          }
        </style>
        <img src="/assets/img/skelly_l.gif" width="80px" height="80px" />
        <h1 id="title"><a href="/">Rain Blog</a></h1>
        <img
          id="flip_right"
          src="/assets/img/skelly_l.gif"
          width="80px"
          height="80px"
        />
      </header>
      <div id="grad"></div>
      <article>{{ content }}</article>
      <footer>
        <img src="/assets/badges/antinft.gif" />
        <img src="/assets/badges/aponow.gif" />
        <img src="/assets/badges/budgie.gif" />
        <img src="/assets/badges/banner2.gif" />
        <img src="/assets/badges/bob.gif" />
        <img src="/assets/badges/alienow.gif" />
        <a href="javascript:crush()">
          <img src="/assets/badges/cc-button.gif"
        /></a>
        <img src="/assets/badges/sun.gif" />
        <img src="/assets/badges/thevoid.gif" />
        <img src="/assets/badges/transnow2.gif" />
        <img src="/assets/badges/chrmevil.gif" />
        <img src="/assets/badges/killmenow.gif" />
        <a href="https://echometerain.github.io">
          <img src="/assets/badges/echobadge.png" />
        </a>
        <a href="https://oktagonia.github.io/">
          <img src="/assets/badges/hexa.png" />
        </a>
      </footer>
      <script>
        function crush() {
          document.querySelector("body").style.textTransform = "lowercase";
        }
      </script>
    </div>
  </body>
</html>
